.modalMyFollowingCloseButton {
  position: relative;
  right: 8px;
}

.modalMyFollowingDivUser {
  margin-top: -11px;
}

.modalMyFollowingProfileButton {
  border: none;
  background-color: white;
}

.modalMyFollowingBoxSearch {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.modalMyFollowingSearch {
  align-items: center;
  display: flex;
  position: relative;
  top: 5px;
  width: 85%;
}

.modalMyFollowingDivUsers {
  margin-top: 15px;
  height: 360px;
  overflow: auto;
  direction: left;
}

#modalMyFollowingScroll {
  margin-top: 15px;
  max-height: 460px;
  overflow-y: auto;
}


.modalMyFollowingFollowButton {
  float: right;
  position: relative;
  top: 22px;
  right: 12px;
  width: 95px;
  height: 30px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

/* Location */
@media screen and (max-width: 576px) {
  .modalMyFollowingLocation {
    margin-top: 90px;
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 576px) {
  .modalMyFollowingLocation {
    margin-top: 100px;
  }
}

