.modalMyRequestCloseButton {
  position: relative;
  right: 8px;
}

.modalMyRequestDivUser {
  margin-top: -11px;
}

.modalMyRequestProfileButton {
  border: none;
  background-color: white;
}

.modalMyRequestDivUsers {
  margin-top: 15px;
  height: 280px;
  overflow: auto;
  direction: left;
}

#modalMyRequestScroll {
  margin-top: 15px;
  max-height: 460px;
  overflow-y: auto;
}

.modalMyRequestBoxSearch {
  margin-left: 15px;
  margin-top: 8px;
  margin-bottom: 4px;
}

.modalMyRequestSearch {
  align-items: center;
  display: flex;
  position: relative;
  top: 5px;
  width: 85%;
}


.modalMyRequestFotter {
  margin-top: -16px;
  height: 65px;
}

.modalMyRequestAcceptAllButton {
  float: right;
  position: relative;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

.modalMyRequestRejectAllButton {
  float: right;
  position: relative;
  right: 25px;
  top: 15px;
  bottom: 15px;
}


/* Location */
@media screen and (max-width: 576px) {
  .modalMyRequestLocation {
    margin-top: 90px;
    width: 90%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 576px) {
  .modalMyRequestLocation {
    margin-top: 100px;
  }
}

/* Request Buttons */
@media screen and (max-width: 440px) {
  .modalMyRequestAcceptButton {
    float: right;
    position: relative;
    top: 20px;
    right: 15px;
    font-size: 10px;
    width: 24px;
    height: 30px;
  }

  .modalMyRequestRejectButton {
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
    width: 65px;
    height: 30px;
  }

  .modalMyRequestFollowButton {
    float: right;
    position: relative;
    top: 20px;
    right: 15px;
    width: 95px;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
  }
}

@media screen and (min-width: 440px) {
  .modalMyRequestAcceptButton {
    float: right;
    position: relative;
    top: 20px;
    right: 25px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    width: 65px;
  }

  .modalMyRequestRejectButton {
    float: right;
    position: relative;
    top: 20px;
    right: 25px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    width: 65px;
    position: relative;
    right: 30px;
  }

  .modalMyRequestFollowButton {
    float: right;
    position: relative;
    top: 20px;
    right: 25px;
    width: 95px;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
  }
}
