@media screen and (min-width: 525px) {
    .modalFullPostCommentEditInput1 {
      width: 78.5%;
      position: relative;
      top: -13px;
      margin-left: 20px;
    }
  
    .modalFullPostCommentEditPhoto1 {
      position: relative;
      top: -11px;
    }
  
    .modalFullPostCommentEditDivButton1 {
      margin-top: -58px;
      margin-left: 79px;
      margin-bottom: 54.4px;
    }
  }
  
  @media screen and (min-width: 460px) and (max-width: 525px) {
    .modalFullPostCommentEditInput1 {
      width: 76%;
      position: relative;
      top: -13px;
      left: 15px;
    }
  
    .modalFullPostCommentEditPhoto1 {
      position: relative;
      top: -11px;
    }
  
    .modalFullPostCommentEditDivButton1 {
      margin-top: -58px;
      margin-left: 74px;
      margin-bottom: 53.4px;
    }
  }
  
  @media screen and (min-width: 390px) and (max-width: 460px) {
    .modalFullPostCommentEditInput1 {
      width: 76%;
      position: relative;
      top: -13px;
      left: 15px;
    }
  
    .modalFullPostCommentEditPhoto1 {
      position: relative;
      top: -11px;
    }
  
    .modalFullPostCommentEditDivButton1 {
      margin-top: -58px;
      margin-left: 74px;
      margin-bottom: 53.4px;
    }
  }
  
  @media screen and (max-width: 390px) {
    .modalFullPostCommentEditInput1 {
      width: 72.5%;
      position: relative;
      top: -13px;
      left: 15px;
    }
  
    .modalFullPostCommentEditPhoto1 {
      position: relative;
      top: -11px;
    }
  
    .modalFullPostCommentEditDivButton1 {
      margin-top: -58px;
      margin-left: 74px;
      margin-bottom: 53.4px;
    }
  }
  
  .modalFullPostCommentEditBoxZeroIndex1 {
    display: flex;
    margin-bottom: 56px;
    margin-left: 9px;
    margin-top: -30px;
  }
  
  .modalFullPostCommentEditBox1 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 56px;
    margin-left: 9px;
  }
  
  .modalFullPostCommentEditButton1 {
    height: 33px;
    width: 90px;
  }
  
  .modalFullPostCommentEditButtonText1 {
    margin-top: 8.5px;
    font-size: 15px;
  }
  