@media screen and (max-width: 576px) {
  .homePageCommentDelete1 {
    margin-top: 90px;
    width: 82%;
    margin-left: 9%;
  }
}

@media screen and (min-width: 576px) {
  .homePageCommentDelete1 {
    margin-top: 100px;
    width: 350px;
  }
}

.homePageCommentDeleteText1 {
  line-height: 35px;
}
